extends ../layout.pug

block content
  h2= "Na ovoj stranici cu implementirati prikaz odredene namirnice"

  p
    |Ovo je id: #{groceryId}

  form(action='' method='post')
    input(type="submit" value="Delete")